.form {
  max-width: 500px;
  margin-top: 10px;
  margin-left: 400px;
}

.btn {
  margin-left: 590px;
}
h4 {
  margin-top: 10px;
  margin-left: 400px;
}
html {
  background-color: aquamarine;
}
.div-react {
  background-color: aquamarine;
}
